Repository kpagacz/wiki-on-fire, pull requests merged in 2021-11, with the labels that each got.

#37 docs(README): extended the initial README
  README.md
Labels: documentation

#39 Wrote a minimal entry about contribution
  giddy-banana/README.md
Labels: backend

#50 [22_common_styles]
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/common.less
Labels: frontend

#59 [23_Main_Wrapper]
  frontend/src/App.vue
Labels: frontend

#60 [20_Footer]
  frontend/src/App.vue
  frontend/src/assets/logo-ul-eng.png
  frontend/src/components/WofFooter.vue
  frontend/src/components/common.less
Labels: frontend

#66 [24_WofCard]
  frontend/src/components/WofCard.vue
  frontend/src/main.js
Labels: frontend

#69 [68_Icons]
  frontend/src/components/WofIcon.vue
  frontend/src/components/icons.less
  frontend/src/main.js
Labels: frontend

#77 Added WofButton
  frontend/src/App.vue
  frontend/src/components/WofButton.vue
  frontend/src/components/WofIcon.vue
  frontend/src/components/common.less
  frontend/src/components/icons.less
  frontend/src/main.js
Labels: frontend

#56 add(docker-compose): added a docker compose file for a database instance
  README.md
  docker-compose-environments/README.md
  docker-compose-environments/development-env.yml
Labels: enhancement

#55 add(sequelize): initialized sequelize project
  .gitignore
  giddy-banana/.babelrc
  giddy-banana/.sequelizerc
  giddy-banana/README.md
  giddy-banana/config/config.json
  giddy-banana/migrations/20211104181759-create-user.cjs
  giddy-banana/models/index.js
  giddy-banana/models/user.js
  giddy-banana/package-lock.json
  giddy-banana/package.json
Labels: backend

#80 add(users): added routes, controllers and services for users
  giddy-banana/app.js
  giddy-banana/controllers/usersController.js
  giddy-banana/models/index.cjs
  giddy-banana/models/userModel.cjs
  giddy-banana/package-lock.json
  giddy-banana/package.json
  giddy-banana/routes/index.js
  giddy-banana/routes/usersRoute.js
  giddy-banana/seeders/20211113204622-demo-user.cjs
  giddy-banana/services/serviceErrors.js
  giddy-banana/services/usersService.js
Labels: enhancement, backend

#88 Delete index.js
  giddy-banana/models/index.js
Labels: backend

#85 [84_WofInput]
  frontend/src/components/WofInput.vue
Labels: frontend

#79 21 wof header
  frontend/src/App.vue
  frontend/src/assets/placeholder-icon.png
  frontend/src/components/WofHeader.vue
  frontend/src/main.js
Labels: frontend

#83 [82_Outline_Button]
  frontend/src/components/WofButton.vue
Labels: frontend

#96 45 register page
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/placeholder.png
  frontend/src/components/WofButton.vue
  frontend/src/components/WofInput.vue
  frontend/src/components/common.less
  frontend/src/main.js
  frontend/src/pages/RegisterPage.vue
Labels: frontend

#109 add(login endpoint): added the login endpoint to the backend
  frontend/src/httpLayers/wofapi.js
  giddy-banana/app.js
  giddy-banana/config/config.example.js
  giddy-banana/controllers/loginController.js
  giddy-banana/controllers/usersController.js
  giddy-banana/middleware/allowedRequests.js
  giddy-banana/middleware/index.js
  giddy-banana/package-lock.json
  giddy-banana/package.json
  giddy-banana/routes/index.js
  giddy-banana/routes/loginRoute.js
  giddy-banana/routes/usersRoute.js
  giddy-banana/services/loginService.js
  giddy-banana/services/serviceErrors.js
  giddy-banana/services/usersService.js
Labels: backend

#113 add: added a function to handle sending and receiving response from the /login endpoint
  frontend/package.json
  frontend/src/httpLayers/login.http.js
  frontend/src/httpLayers/registration.http.js
  frontend/src/httpLayers/wofApi.js
Labels: frontend

#115 add: package scripts to migrate and seed database
  giddy-banana/README.md
  giddy-banana/package.json
Labels: backend

#116 add: spinner in a form of three pulsating dots
  frontend/src/components/WofSpinnerDots.vue
Labels: frontend

#110 add(eslint): added eslint configuratino for backend
  giddy-banana/.eslintignore
  giddy-banana/.eslintrc.cjs
  giddy-banana/.prettierignore
Labels: backend, devops
